<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="JssUnicornSerializeRootFolder" value="D:\Aga\Agat\jss-sc-first\Samples\JssWebReact" />
    <unicorn>
      <configurations>
        <!--Feature layer-->
        <configuration name="JSS.Feature">
          <targetDataStore physicalRootPath="$(JssUnicornSerializeRootFolder)\Feature\Serialization" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!--Templates-->
            <include name="Feature-Interface-Templates" database="master" path="/sitecore/templates/Feature" />
            <!--Media-->
            <include name="Feature-Media" database="master" path="/sitecore/media library/Feature" />
            <!--Rendering-->
            <include name="Feature-Rendering" database="master" path="/sitecore/layout/Renderings/Feature" />
          </predicate>
        </configuration>

        <!--Foundation layer-->
        <!--<configuration name="JSS.Foundation">
          <targetDataStore physicalRootPath="$(JssUnicornSerializeRootFolder)\Foundation\Serialization" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
          </predicate>
        </configuration>-->

        <!--Project layer-->
        <configuration name="JSS.Project">
          <targetDataStore physicalRootPath="$(JssUnicornSerializeRootFolder)\Project\Serialization" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!--Templates-->
            <include name="Project-ContentTypes" database="master" path="/sitecore/templates/Project/Commercial Tenants" />
            <!--Layout-->
            <include name="Project-Layout" database="master" path="/sitecore/layout/Layouts/Project/Commercial Tenants" />
            <!--Rendering-->
            <include name="Project-SubLayoutRendering" database="master" path="/sitecore/layout/Renderings/Project/Commercial Tenants" />
            <!--Placeholder-->
            <include name="Project-Placeholder" database="master" path="/sitecore/layout/Placeholder Settings/Project/Commercial Tenants" />
            <!--Content-->
            <include name="Project-Content" database="master" path="/sitecore/content/All Sites" />
          </predicate>

        </configuration>

      </configurations>
    </unicorn>
  </sitecore>
</configuration>